
html {
    font-size: 16px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  body {
    font-family: "Lexend Deca", sans-serif;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #f9f9f9;
  }
 
 a {
   color: #d01145;
   text-decoration: none;
   transition: 0.3s;
 } 

 a:hover {
  color: #800929;
 }

.d-grid {
    display: grid;
    grid-template-columns: 1fr 11fr;
}

.right-col-info {
    max-width: 1000px;
    margin: 0 auto;
    padding: 30px;
}